#linux-kernel {
    background-color: red;
    font-size: 17px;
    text-align: left;
}

#Mosaic-Browser {
    background-color: #b8ab57;
    font-size: 17px;
    text-align: left;
}

#Open-Source-Movement {
    background-color: #3da639;
    font-size: 17px;
    text-align: left;
}

#Paypal {
    background-color: #1a0dab;
    font-size: 17px;
    text-align: left;
}

#eBay {
    background-color: #eeb422;
    font-size: 17px;
    text-align: left;
}

html {
    background-color: black;
    color: white;
    font-family: 'Arial'; 
}

.Links {
    color: white;
    font-style: italic;
    text-decoration: underline;
}

h2 {
    font-size: 30px;
    text-transform: capitalize;
    text-align: left;

}

p {
    line-height: 20px;
}